
html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

#lceve-main {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1
}

.disconnected-status {
  text-align: center ;
  font-weight: bold;
  color: red;
  border: 2px solid red;
  width: 150px;
}

.connected-status {
  text-align: center ;
  font-weight: bold;
  color: green;
  border: 2px solid green;
  width: 150px;
}
